<h1>New message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :flash %><br />
    <%= f.text_area :flash, :cols => 60, :rows => 3 %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 60, :rows => 5 %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>