<h1>Le tue sfide</h1>
<table id="matches" cellspacing="1" cellpaddin="0">
	<tr>
		<th class="upcase green">vittorie totali</th>
		<th class="upcase">ultima vittoria</th>
	</tr>
	<tr>
		<td class="green"><%= @wins.size %></td>
		<td><%= fb_name(@wins.last.contender.facebook_id) %></td>
	</tr>
	<tr>
		<th class="upcase red">sconfitte totali</th>
		<th class="upcase">ultima sconfitta</th>
	</tr>
	<tr>
		<td class="red"><%= @losses.size %></td>
		<td><%= fb_name(@losses.last.contender.facebook_id) %></td>
	</tr>
</table>

<p><%= link_to 'sfida un tuo amico', new_match_path %></p>
