<p>
  <%= f.label :name %><br />
  <%= f.text_field :name, :size => 40 %>
</p>
<p>
  <%= f.label :url %><br />
  <%= f.text_field :url, :size => 40 %>
</p>
<p>
  <%= f.label :image_filename %><br />
  <%= f.text_field :image_filename, :size => 40 %>
</p>