<fb:fbml>
	<%= stylesheet_link_tag 'skate' %>

	<% fb_dashboard do %>
		<%= fb_action 'Invita i tuoi amici', new_invitation_path %>
		<%= fb_help 'Help & Feedback', fb_about_url %>
	<% end %>
	
	<fb:add-section-button section="profile" />
	<br />
	
	<% fb_tabs do %>
		<%= fb_tab_item 'SKATE', matches_path, :selected => if_skate? %>
		<%= fb_tab_item 'allenamento', training_path, :selected => if_training? %>
		<%= fb_tab_item 'shopping', shopping_items_path, :selected => if_items? %>
		<%= fb_tab_item 'fatti un giro in skate', choose_events_path, :selected => if_events? %>
	<% end %>
	<br />
	
	<%= facebook_messages %>
	
	<div id="skate_main">
		<%= yield %>
	</div>
	<% unless controller.controller_name == 'invitations' %>
		<table id="skate_status" cellpadding="0" cellspacing="0">
			<tr>
				<th colspan="2"><%= fb_name(current_user.facebook_id, :useyou => false, :linked => false) %></th>
			</tr>
			<tr>
				<td>Livello:</td>
				<td><%= current_user.rank.name %></td>
			</tr>
			<tr>
				<td>Energia:</td>
				<td><%= current_user.stamina %></td>
			</tr>
			<tr>
				<td>Destrezza:</td>
				<td><%= current_user.dexterity %></td>
			</tr>
			<tr>
				<td>Esperienza:</td>
				<td><%= current_user.experience %></td>
			</tr>
			<tr>
				<td>Denaro:</td>
				<td><%= current_user.money %> &euro; </td>
			</tr>
		</table>
	<% end %>
	<p style="clear:both;padding-top:150px"></p>
	<div id="sponsor">
		<h3>sponsored by</h3>
		<img src="http://sodaskateshopandtattoo.com/layout/header.png" />
	</div>
</fb:fbml>